<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Login intro - login page</title>
    <meta name="viewport", content="width=device-width", initial-sacle="1.0">
</head>
<body>
    <div class="container">
        <hi> Please login</hi>
        <br>
        <form acton="" method="post">
            <input type="text" placeholder="number" name="number" value="{{
                request.form.username}}">

            <input class="btn btn-default" type="submit" value="number">
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{ error}}</p>
        {% endif %}
    </div>
</body>
</html>